# ==========================================
# KONFIGURASI MQTT BROKER
# ==========================================
BROKER_HOST=emqx.nayakanms.com
BROKER_PORT=1884
MQTT_USER=nyk_ws
MQTT_PASS=ws

# ==========================================
# PARAMETER PENGIRIMAN DATA
# ==========================================
INTERVAL_SEC=5
HEARTBEAT_SEC=60
TOWER_HEIGHT_MM=42000
TILT_TOL_DEG=0.286
SWAY_TOL_MM=210.0
PROJECT=vertical
FW_VERSION=0.4.0
LOCAL_IP=192.168.1.150

# ==========================================
# MODE RUNNER (OPSIONAL)
# ==========================================
# 1. Mode Default (Kosongkan keduanya):
#    Akan otomatis menjalankan ke-11 device dari devices.json
#
# 2. Mode Single Device:
#    Isi CHIP_ID dan MAC_ADDRESS jika ingin menjalankan 1 container untuk 1 device khusus
# CHIP_ID=E32_VER_SWADAYA
# MAC_ADDRESS=3A:0E:4C:1E:80:6E
#
# 3. Mode Filter Device:
#    Jalankan hanya beberapa device tertentu (pisahkan koma)
# TARGET_CHIPS=E32_VER_SWADAYA,E32_VER_PEDURENAN
