# --- VIRTUAL PRIVATE SERVER (VPS) CONFIGURATION ---
# Port yang dibuka di VPS untuk mengakses Dashboard (Nginx)
APP_PORT=3002

# --- DJANGO CONFIGURATION ---
# Ubah DEBUG ke 0 (False) untuk production, atau 1 (True) untuk development
DEBUG=0

# IP Publik VPS Anda, dipisahkan dengan koma (tanpa spasi)
ALLOWED_HOSTS=110.232.92.134,localhost,127.0.0.1

# Key rahasia Django (gunakan karakter acak yang panjang dan aman di production)
DJANGO_SECRET_KEY=django-insecure-uv@(()w_3ngn$lu_2jspyy7mbp)+x4dk!760o5a^a7wt4z8&@(

# --- MQTT CONFIGURATION ---
MQTT_SERVER=emqx.nayakanms.com
MQTT_PORT=1884
MQTT_USER=nyk_ws
MQTT_PASSWORD=ws

# --- MQTT TOPICS ---
MQTT_TOPIC_SUB=nms/E32_WB_WS/whitebox/config
MQTT_TOPIC_PUB=/matalite-test/reply/
MQTT_TOPIC_PUB2=nms/E32_WB_WS/whitebox/#
MQTT_TOPIC_SPEAKER_CONFIG=nms/esp32-speaker-003734fe8ce0/speaker/config
